#taskname {
    width: 300px;
    height: 40px;
    border-radius: 6px;
    background-color: #e0e0e4;
    font-size: 25px;
}
#taskdescription {
    width: 500px;
    height: 80px;
    border-radius: 6px;
    background-color: #e0e0e4;
    font-size: 20px;
    font-family: sans-serif;
    border: 0px;
    padding: 0px;
    resize: none;
    padding-top: 5px;
    padding-left: 1px;
}
.task-form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    height: auto;
}
.new-task-btn {
    align-self: flex-end;
}
.task-card {
    width: 465px;
    background-color: #36363d;
    padding: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 3px -1px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 18px;
    border-radius: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    min-width: 0;             
    max-width: 100%; 
    min-height: 150px;
    max-height: 100%;
}
.task-card h3 {
    margin: 0 0 5px 15px;
    font-family: sans-serif;
    font-size: 25px;
}
.task-card p {
    font-size: 18px;
    margin: 10px 0 0 15px;
    word-break: break-all;
}
.delete-btn {
    align-self: flex-end;
    margin-top: auto;
    background-color: #c2c2ce;
    border-radius: 6px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: transparent;
    border: 3px #db1414 solid;
    color: #db1414;
    font-weight: bold;
    transition: all ease-in-out 0.2s;

}
.delete-btn:hover{
    background-color: #db1414;
    color: #c2c2ce;
}
body {
    background-color: #101828;
    color: white;
    font-family: sans-serif;
}
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ffffff;
}
.nav-title{
    font-size: 26px;
}
.container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.task-creator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-line{
    background-color: #F24E1E;
    margin-top: -20px;
    margin-left: -30px;
    width: 180px;
    height: 5px;
}
.task-name p {
    font-size: 20px;
    margin-bottom: 10px;
}
.task-description p {
    font-size: 20px;
    margin-bottom: 10px;
}
.list-of-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-of-tasks h2 {
    font-size: 32px;
}
.list-of-tasks .sub-line {
    width: 120px;
    margin-left: -15px;
}
#submit-btn {
  border: 2px solid #F24E1E;
  background-color: #F24E1E;
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  color: #ffffff;
}
#submit-btn span {
    display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}
#submit-btn:hover {
    background-color: #da491d
}
@media (max-width: 600px) {
    .task-card {
        min-width: 50%;
        max-width: 70%;
        margin: 18px auto;
        
    }
   .task-name {
    margin: 0 auto;
   }
   #taskdescription {
    width: 50%;
   }
}
